@charset "utf-8";
.margin{
	width:960px;
	margin:0 auto;
}

/*top公共部分*/
.top{
	padding-top:15px;
	height:118px;
	border-bottom:1px solid #333;
	margin-bottom: 10px;
}
/*top上半部分*/
.top .top-t{
	text-align: center;
	margin-bottom: 10px;
}
.top .top-t .meiciappBox span{
	margin-right: 10px;;
}
.top .top-t .logo{
	margin: 12px 0 0 170px;
}
.top .top-t .seek{
	border:1px solid #afafaf;
	height:24px;
	width:156px;
	margin-top:25px;
}
.top .top-t .seek .txt{
	float: left;
	height:24px;
	width:126px;
	border:none;
	padding:0 3px;
	font:12px/24px "微软雅黑";
	color:#999;
}
.top .top-t .seek .btn{
	float: right;
	height:24px;
	width:23px;
	border:none;
	background:url(../images/seek.jpg) no-repeat center;
}
.top .top-t .seek .seek-c{
	width:1px;
	height:18px;
	background:#afafaf;
	display:inline-block;
	vertical-align:middle;
}
/*top导航*/
.top .nav li{
	float: left;
	height:33px;
	width:96px;
	background:#fff;
	font:12px/33px "微软雅黑";
	text-align: center;
}


/*新进单品*/
.top .nav .new{
	position: relative;
}
.top .nav .new .new-item{
	position: absolute;
	left: -108px;
	top: 33px;
	z-index: 10000;
}
/*新进单品下拉内容*/
.top .nav .new .new-item{
	display: none;
	height:295px;
	width:958px;
	padding-top:8px;
	border:1px solid #ccc;
	border-top-color:#333;
	text-align: left;
	background: #fff;
}
.top .nav .new .new-item h3{
	color:#8e0c3a;
	font:900 12px/30px "";
}
.top .nav .new .new-item .new-item-l{
	float:left;
	height:100%;
	width:379px;
}
.top .nav .new .new-item .new-item-l .new-item-l-t dl dd{
	float: left;
}
.top .nav .new .new-item .new-item-l .new-item-l-t .new-item-l-t-f{
	width:98px;
	margin-right: 45px;
	text-align: center;
}
.top .nav .new .new-item .new-item-l .new-item-l-t .new-item-l-t-s{
	width:118px;
}
.top .nav .new .new-item p{
	color:#7a7a7a;
	font:12px/22px "";
}
.top .nav .new .new-item p:hover{
	color:#8e0c3a;
}
.top .nav .new .new-item .new-item-l .new-item-l-b {
	margin: 111px 0 0 27px;
}
.top .nav .new .new-item .new-item-l .new-item-l-b a{
	text-decoration:underline;
	color:#7a7a7a;
	font:12px/22px "";
}
.top .nav .new .new-item .new-item-l .new-item-l-b a:hover{
	color:#8e0c3a;
}
/*右边*/
.top .nav .new .new-item .new-item-r{
	float:right;
	height:100%;
	width:579px;
}
.top .nav .new .new-item .new-item-r .new-item-r-b dl dd{
	float:left;
	width:160px;
	height:100%;
}
.top .nav .new .new-item .new-item-r .new-item-r-b dl dd:hover a p{
	color:#8e0c3a;
}
.top .nav .new .new-item .new-item-r .new-item-r-b dl dd p{
	width:155px;
}


.top .nav li a{
	display: block;
	height:33px;
	width:96px;
}
.top .nav li .img-last{
	margin-bottom: 2px;
}
.top .nav li:hover {
	cursor: pointer;
	background:#8d0d39;
}
.top .nav li:hover a{
	color:#fff;
}
/*banner部分*/
.banner{
	overflow: hidden;
	height:500px;
	width:960px;
	position: relative;
}
.banner .img-wrapper{
	width:600%;
	height:100%;
}
.banner .img-wrapper .img-item{
	float: left;
	width:960px;
	height:100%;
}
/*banner左右点击*/
.banner .arrow{
	position: absolute;
	top:50%;
	margin-top:-33px;
	display: none;
	height:66px;
	width:27px;
}
.banner .arrow-left{
	left:10px;
	background:url(../images/jt7.png) no-repeat 0 -201px;
}
.banner .arrow-right{
	right:10px;
	background:url(../images/jt7.png) no-repeat 0 -134px;
}
.banner .arrow-left:hover{
	background:url(../images/jt7.png) no-repeat 0 0;
	cursor:pointer;
}
.banner .arrow-right:hover{
	background:url(../images/jt7.png) no-repeat 0 -67px;
	cursor:pointer;
}
/*标题部分*/
.title {
	position: relative;
	padding-top: 10px;
	height:60px;
	width:960px;
}
.title .title-t{
	position:absolute;
	top:50%;
	height:1px;
	width:100%;
	background:#999;
}
.title .title-b{
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -130px;
	margin-top: -25px;
	height:50px;
	width:260px;
	background: #fff;
	z-index:3;
}
.title .title-b .title-b-rcm{
	text-align: center;
	font:14px/24px "微软雅黑";
	color:#333;
}

/*展示区*/
.show a{
	display: block;
}
.show .show-l{
	float: left;
	
}
.show .show-l .show-l-t{
	margin-bottom: 6px;
}
.show .show-c{
	float: left;
	margin: 0 6px;
}

.show .show-r{
	float: right;
}
.show .show-r .show-r-t{
	margin-bottom: 6px;
}

/*滚动展示区*/
.roll-box{
	width:960px;
	margin:0 auto;
	height:265px;
	width:960px;
}
.roll{
	width:960px;
	margin:0 auto;
	position: relative;
	height:265px;
	width:960px;
	overflow: hidden;
}
/*左右按钮公共部分*/
.roll .btn{
	position: relative;
	height:265px;
	width:17px;
	cursor: pointer;
}
/*左按钮 盒子*/
.roll .btn-left{
	position: absolute;
	left:0;
}
/*右按钮 盒子*/
.roll .btn-right {
	position: absolute;
	right:0;
}
/*左按钮*/
.roll .btn-left .btn-left-triangle{
	position: absolute;
	left:0;
	top:50%;
	margin-top: -13px;
	z-index: 7;
	height:26px;
	width:17px;
	background:url(../images/pic_arrow_l.png) no-repeat -3px 4px;
}
/*右按钮*/
.roll .btn-right .btn-right-triangle{
	position: absolute;
	right:0;
	top:50%;
	margin-top: -13px;
	z-index: 7;
	height:26px;
	width:17px;
	background:url(../images/pic_arrow_r.png) no-repeat 0 4px;
}


.roll-box .roll ul{
	position: absolute;
	height:265px;
	width:1600px;
	z-index: 3;
}
.roll-box .roll ul li{
	float: left;
	height:260px;
	width:160px;
	text-align: center;
	margin:5px 16px 0 16px;
}


/*时尚专题图片*/
.fashion img{
	height: 247px;
	width: 316px;
}
.fashion .fashion-l{
	float: left;
	height: 247px;
	width: 316px;
}
.fashion .fashion-c{
	float: left;
	margin: 0 6px;
	height: 247px;
	width: 316px;
}
.fashion .fashion-r{
	float: right;
	height: 247px;
	width: 316px;
}
/*体验更多内容*/
.content {
	height:215px;
	padding-bottom:30px ;
	border-bottom: 1px solid #ccc;
}
.content a{
	display: block;
	height:215px;
	width:316px;
}
/*注册美西会员*/
.content-l{
	float: left;
	height:215px;
	width:316px;
}
/*电邮订阅*/
.content-c{
	float: left;
	width:316px;
	height:215px;
}
.content-c .content-c-t{
	height:178px;
	width:316px;
}
.content-c .content-c-b{
	width:316px;
	height:27px;
	margin-left:40px;
}
/*输入E-mail*/
.content-c .content-c-b .tex{
	width:124px;
	height:25px;
	padding: 0 3px 0 36px;
	font:12px/25px "微软雅黑";
	border: 1px solid #a3a3a3;
	background: url(../images/footico.gif) no-repeat -40px -31px;
}
/*即刻点阅按钮*/
.content-c .content-c-b .but{
	width:70px;
	height:27px;
	background: #333;
	color:#fff;
	border:0;
	cursor: pointer;
	font:12px/height:27px "微软雅黑";
}
/*移动美西*/
.content-r{
	float: right;
	height:215px;
	width:316px;
}

/*购物指南*/
.fingerpost{
	height:97px;
	width:960px;
	padding-top:30px;
}
.fingerpost .fingerpost-l{
	float: left;
	width:380px;
	height:95px;
	padding-top: 2px;
}
.fingerpost .fingerpost-l ul{
	float:left;
	height:100%;
	width:95px;
}
.fingerpost .fingerpost-l ul .fp-l-f{
	font:900 12px/36px "微软雅黑";
	color:#666;
}
.fingerpost .fingerpost-l ul li a {
	font:12px/20px "微软雅黑";
	color:#7a7a7a;
}
.fingerpost .fingerpost-l ul li:hover a{
	color:#8e0c3a; 	
}

/*订购热线*/
.fingerpost .fingerpost-c{
	float: left;
	height:76px;
	width: 241px;
	padding-top:10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align: center;
}
.fingerpost .fingerpost-c span{
	font:900 14px/26px "微软雅黑";
	color:#666;
}
.fingerpost .fingerpost-c .fingerpost-c-b{
	font: 900 16px/30px "微软雅黑";
	color:#666;
}

/*在线客服*/
.fingerpost .fingerpost-r{
	float: left;
	height:76px;
	width: 146px;
	padding-top:10px;
	border-right: 1px solid #ccc;
	text-align: center;
	font:900 14px/26px "微软雅黑";
}
.fingerpost .fingerpost-r .fingerpost-r-b{
	height:23px;
	width:55px;
	margin-left:45px;
}
.fingerpost .fingerpost-r .fingerpost-r-b .qq{
	display: block;
	float: left;
	height:23px;
	width:20px;
	background: url(../images/footico.gif) no-repeat 0 0;
}

.fingerpost .fingerpost-r .fingerpost-r-b .headset{
	display: block;
	float: right;
	height:23px;
	width:21px;
	background: url(../images/footico.gif) no-repeat -20px 0;
}
.fingerpost .fingerpost-y{
	float: left;
	height: 89;
	width: 190px;
	text-align: center;
	font:900 14px/26px "微软雅黑";
	margin-top: -7px;
}

.fingerpost .fingerpost-y .float-l{
	float: left;
	margin: 0 10px 0 17px;
	text-align: center;
}
.fingerpost .fingerpost-y .float-r{
	float: left;
	text-align: center;
}
/*底部导航条*/
.btn-nav{
	height:22px;
	width:960px;
	background: #eee;
	margin-top: 20px;
	text-align: center;
}
.btn-nav ul {
	margin-left: 75px;
}
.btn-nav ul li{
	float: left;
	height: 22px;
	width:90px;
	text-align: center;
}
.btn-nav ul li a{
	color:#7a7a7a;
	font: 12px/22px "微软雅黑";
	display: block;
	height: 22px;
	width:90px;
}
.btn-nav ul li:hover a{
	background: #999;
	color: #fff;
}

/*底部*/
.foot{
	margin-top: 20px;
	text-align: center;
}
.foot .foot-t {
	text-align: center;
	height: 25px;
	width:100%;
}
.foot .foot-t ul{
	width:480px;
	height:25px;
	margin: 3px auto;
}
.foot .foot-t ul li{
	float: left;
	display: inline;
	margin:2px 2px 0 2px;
}
.foot .foot-t a{
	display: block;
}
.foot .foot-t .foot-t-a a{
	height: 23px;
	width:22px;
	background: url(../images/foot_pic_s.jpg) no-repeat 0 -110px;
}
.foot .foot-t .foot-t-a:hover a{
	background: url(../images/foot_pic_s.jpg) no-repeat 0 0;
}
.foot .foot-t .foot-t-b a{
	height: 23px;
	width:100px;
	background: url(../images/foot_pic_s.jpg) no-repeat 0 -155px;
}
.foot .foot-t .foot-t-b:hover a{
	background: url(../images/foot_pic_s.jpg) no-repeat 0 -45px;
}
.foot .foot-t .foot-t-c {
	height: 22px;
	width:66px;
	margin-left: 35px;
	background: url(../images/foot_pic_s.jpg) no-repeat 0 -133px;
}
.foot .foot-t .foot-t-d a{
	height: 22px;
	width:73px;
	background: url(../images/foot_pic_s.jpg) no-repeat -182px -180px;
}
.foot .foot-t .foot-t-d:hover a{
	height: 22px;
	width:73px;
	background: url(../images/foot_pic_s.jpg) no-repeat -182px -70px;
}
.foot .foot-t .foot-t-e a{
	height: 23px;
	width:73px;
	background: url(../images/foot_pic_s.jpg) no-repeat -66px -110px;
}
.foot .foot-t .foot-t-e:hover a{
	height: 23px;
	width:73px;
	background: url(../images/foot_pic_s.jpg) no-repeat -66px 0;
}
.foot .foot-t .foot-t-f a{
	height: 22px;
	width:85px;
	background: #5a5a5a;
	text-align: center;
	color:#fff;
	font:12px/22px "微软雅黑";
}
.foot .foot-c{
	height:36px;
	width:920px;
	padding:10px 20px;
}
.foot .foot-c p{
	color:#777;
	font:12px/20px "微软雅黑";
}
.foot .foot-c a{
	color:#777;
	font:12px/20px "微软雅黑";
}
.foot .foot-c a:hover{
	color:rgb(142,12,58)
}
.foot .foot-b .foot-b-f{
	height:30px;
	width:83px;
	margin-bottom: 18px;
}
.foot .foot-b .foot-b-s{
	height:35px;
	width:32px;
	margin: 0 0 18px 18px;
}

/*滚动条下拉时出现搜索框*/
.fix-top{
	height:60px;
	width: 100%;
	border-bottom: 1px solid #b6b4b6;
	background:#fff;
	position: fixed;
	z-index: 1000;
	top:0;
	display: none;
}
.fix-top .inner {
	height:100%;
	margin-top:15px;
	width:960px;
	position: relative;
	z-index: 2;
}

/*左边logo*/
.fix-top .inner .inner-l{
	float: left;
	height:23px;
	margin: 5px 50px 0 0;
	overflow: hidden;
}
.fix-top .inner .inner-l .inner-l-a{
	height:23px;
	width:200px;
	display: block;
}
.fix-top .inner .inner-l .inner-l-a .logo-fix-top{
	height:35px;
	width:200px;
}
/*中间搜索*/
.fix-top .inner .inner-c{
	float: left;
	height:34px;
	width: 600px;
	overflow: hidden;
}
.fix-top .inner .inner-c .inner-c-l{
	float: left;
	height:28px;
	border:2px solid #8e0c3a;
	overflow: hidden;
	background:#fff;
	display: inline-block;
	border-right: none;
	margin-left: 6px;
}
.fix-top .inner .inner-c .inner-c-l .inner-c-l-txt{
	width:550px;
	height: 28px;
	padding:0 5px;
	font: 14px/28px "微软雅黑";
	color:#999;
	border: none;
}
.fix-top .inner .inner-c .inner-c-r{
	float: left;
	height: 28px;
	width:28px;
	border:2px solid #8e0c3a;
	border-left: none;
}
.fix-top .inner .inner-c .inner-c-r .inner-c-r-btn{
	height: 30px;
	width:30px;
	background: url(../images/searchBtn2.gif) no-repeat;
	border: none;
	float: left;
	cursor: pointer;
}
/*右边*/
.fix-top .inner .inner-r{
	float: right;
	height: 45px;
	width:95px;
	position: relative;
}
.fix-top .inner .inner-r .inner-r-a{
	display: block;
	height: 35px;
	width:80px;
	line-height: 32px;
	margin:0 0 10px 15px;
	color:#8e0c3a; 
}
.fix-top .inner .inner-r .inner-r-a .inner-r-a-p{
	float:right;
	display: block;
}
.fix-top .inner .inner-r .inner-r-a .inner-r-a-img{
	float:right;
	width:16px;
	margin:10px 9px 10px 0;
}
/*时尚导购内的下拉菜单*/
.fix-top .inner .inner-r .menu{
	display: none;
	position: absolute;
	top:45px;
	left:-866px;
	width:960px;
	z-index: 20;
	background: #fff;
}
.fix-top .inner .inner-r .menu .menu-box{
	padding:15px 0;
	width:960px;
	padding:15px 0;
	font: 12px/22px "微软雅黑";
	color: #7A7A7A;
	border: 1px solid #ccc;
	border-top:none;
}
.fix-top .inner .inner-r .menu .menu-box .menu-content{
	padding:5px 0;
	margin-left: 10px;	
}
.fix-top .inner .inner-r .menu .menu-box .menu-content .menu-c-d{
	margin: 0 15px;
	color: #7A7A7A;
	float: left;
	display: inline;
}
.fix-top .inner .inner-r .menu .menu-box .menu-content .menu-c-d dt{
	margin-bottom:10px;
}
.fix-top .inner .inner-r .menu .menu-box .menu-content .menu-c-d dt a{
	font-weight: 900;
	color: #8E0C3A;
	padding-bottom: 5px;
}
.fix-top .inner .inner-r .menu .menu-box .menu-content .menu-c-d dd a{
	padding: 0 2px;
	color:#7A7A7A;
}
.fix-top .inner .inner-r .menu .menu-box .menu-content .menu-c-d dd:hover a{
	color: #8E0C3A;
}







